@import "tailwindcss";

@layer base {
  html {
    font-size: 62.5%;
  }
  body {
    @apply bg-slate-950 text-gray-100 font-normal;
  }
}

@layer components {
  .header-secondary {
    @apply font-cinzel text-gray-200 hover:text-amber-500 hover:scale-105 hover:drop-shadow-lg transition-all transform-gpu duration-500 text-2xl md:text-[2rem] lg:text-[4.5rem] font-light mb-0 leading-snug;
  }

  .arrival-img {
    @apply opacity-90 relative group-hover:opacity-60 scale-105 group-hover:scale-100 transition-all duration-600 w-full h-full;
  }

  .cart-header {
    @apply flex absolute top-20 left-1/2 -translate-x-1/2 
      text-2xl md:text-3xl lg:text-5xl text-gray-100 font-cormorant
      opacity-0 -translate-y-15
      transition-all duration-600
      group-hover:opacity-100 group-hover:translate-y-0
      z-50 group-hover:rounded-[1px];
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

@theme {
  --font-montserrat: "Montserrat Alternates", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-cinzel: "Cinzel", sans-serif;
  --font-cormorant: "Cormorant Garamond", cursive;
  --animate-fadeIn: fadeIn 0.7s ease-in-out forwards;
}
