@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme {
  --font-montserrat: [ "Montserrat Alternates", sans-serif];
  --font-lato: [ "Lato", sans-serif];
  --animate-fadeIn: fadeIn 0.7s ease-in-out forwards;
}
