@import "tailwindcss";

@layer base {
  html {
    font-size: 62.5%;
  }
  body {
    @apply bg-slate-900 text-gray-100 font-normal;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

@theme {
  --font-montserrat: "Montserrat Alternates", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-cinzel: "Cinzel", sans-serif;
  --font-cormorant: "Cormorant Garamond", cursive;
  --animate-fadeIn: fadeIn 0.7s ease-in-out forwards;
}
